@import "keyframes/ripple";

._ripple::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);

  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;

  top: 50%;
  left: 50%;

  animation: ripple .8s;
  opacity: 0;
}

._ripple:focus:not(:active)::after {
  display: block;
}

.cancel-button, .confirm-button {
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.2rem;
}

.cancel-button {
  background-color: var(--color-gray-dark);
  color: var(--color-white-buttons-text);
}

.confirm-button {
  background-color: #8083b5;
  color: var(--color-white-buttons-text);
}