:root {
  --color-blue-light-transparent: rgba(0, 135, 214, 0.8);
  --color-blue: #026AA7;
  --color-gray: #e2e2e7;
  --color-gray-transparent: #ebecf0;
  --color-green-border: #2f4f4f;
  --color-blue-buttons: #0079BF;
  --color-white-buttons-text: #fff;
  --color-lightgray: #d0d4e4;
}