.container {
  border-radius: 4px;
  box-shadow: 5px 4px 15px 0 rgba(34, 60, 80, 0.2);
  border: 1px solid #9599c1;
  width: 100%;
}

.header {
  position: relative;
  padding: 8px;
  border-radius: 4px;
  z-index: 2;
  box-shadow: 5px 4px 15px 0 rgba(34, 60, 80, 0.2);

  background: var(--color-white-buttons-text);
  cursor: pointer;
}

.title {
  font-weight: 500;
  font-size: 1.2rem;
}

.info {
  position: relative;
  font-size: 1.2rem;
  background-color: #8083b5;
  padding: 8px 8px 4px;
  color: var(--color-white-buttons-text);
  border-radius: 0 0 4px 4px;
  z-index: 1;
  margin-top: -4px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.data {
  font-size: 1rem;
  color: var(--color-violet-light);
}

.group {
  display: flex;
  align-items: center;
  column-gap: 4px;

  .btn {
    background: transparent;
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    img {
      color: var(--color-white-buttons-text);
      width: 16px;
      height: 16px;

      stroke-width: 2;

      transition: background-color .2s ease-in-out, transform .2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}