.container {
  margin: 8px;
  display: grid;
  grid-gap: 8px;
  align-items: start;

  @media screen and (min-width: 320px) and (max-width: 943px) {
    justify-content: center;
  }

  @media screen and (min-width: 664px) {
    grid-template-columns: repeat(auto-fit, max(calc(320px - 16px)));
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}