.container {
    position: fixed;
    top: calc(50% - 44px);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-blue);
    padding: 16px;
    min-width: 460px;
    border-radius: 16px;
    box-shadow: 0 2px 4px red;
}