.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  background-color: #9889a954;
  backdrop-filter: blur(4px);
}

.dialog {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  width: 100%;
  border-radius: 4px;
  padding: 16px;
  background-color: var(--color-gray-transparent);
  box-shadow: 5px 4px 15px #223c5033;

  display: flex;
  flex-direction: column;
  row-gap: 24px;
}


.close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.title, .responsible {
  padding-bottom: 20px;
  display: block;
  text-align: center;

  font-size: 1.6rem;
  font-weight: 500;
}

.explanation {
  font-size: 1.4rem;
  font-weight: 400;
}

.groupButtons {
  display: flex;
  align-items: center;
  column-gap: 8px;
  justify-content: flex-end;
}